<%- include('./partials/head.ejs') %>
<body class="">
<div id="small-screen-header" class="bg-light">
    <div class="d-flex justify-content-between align-items-baseline w-100 mx-2">
        <button class="btn btn-secondary sidebar-btn" style="all: unset;"><i class="fa-solid fa-bars fa-2x sm-menu-btn"></i></button>
        <h1 class="h3 text-center flex-fill card-title">Zachary Cardoza</h1>
    </div>
    
</div>
    <div class="d-flex main-content">
        <%- include('./partials/header.ejs') %>
        <div class="pr-0 main flex-fill">
            <div class="mt-5 pt-5">
                <br>
                <section id="home" class="d-flex flex-column align-items-center mt-5">
                    <h1 class="mt-4 h2 card-title">Zachary Cardoza</h1>
                    <h2 class="h5 mt-4 card-subtitle">Junior Developer</h2>
                    <a class="mt-4 btn view-project-btn" href="#projects">View Projects</a>
                    <!-- <div class="mt-4 w-25 d-flex justify-content-between media-links">
                        <a href=""><i class="fa-brands fa-discord logo"></i></a>
                        <a href=""><i class="fab fa-linkedin"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                    </div> -->
                </section>
                <section id="about" ><%-include('./pages/about')%></section>
                <section id="work" ><%-include('./pages/work')%></section>
                <section id="projects" ><%-include('./pages/projects')%></section>
                <section id="education" ><%-include('./pages/education')%></section>
                <section id="contact" ><%-include('./pages/contact')%></section>
            </div>
        </div>
    </div>
<%- include('./partials/foot.ejs') %>
